<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item cinema" routerLink="cinema">
      <div class="nav__icon" [inlineSVG]="'./app/images/cinema.svg'"></div>
    </li>
    <li class="nav__item theater" routerLink="theater">
      <div class="nav__icon" [inlineSVG]="'./app/images/theater.svg'"></div>
    </li>
    <li class="nav__item events" routerLink="events">
      <div class="nav__icon" [inlineSVG]="'./app/images/events.svg'"></div>
    </li>
    <li class="nav__item random" routerLink="random">
      <div class="nav__icon" [inlineSVG]="'./app/images/random.svg'"></div>
    </li>
  </ul>
</nav>
